@charset 'UTF-8';
html {
  font-size: 18px;
}
.navbar {
  background-color: #3E3A51;
}
.col ul li {
  text-align: left;
  font-size: 1.2em;
}
.col ul li a {
  color: rgba(55, 58, 63, 1.00);
}
.see-more {
  font-size: 1.5em;
  color: white;
  display: inline-block;
  margin-top: 2.1em;
  padding: 0em 0 3em 0;
  transition: all .3s;
  text-decoration: none;
}
.see-more:hover {
  color: white;
}
.artwork-picref {
  font-size: 1em;
  text-align: right;
  margin-bottom: 3em;
}
.artwork-title {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 2.5em;
  font-weight: 100;
  color: white;
  padding: 2em 0 0 0;
  letter-spacing: .36em;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: .5em;
}
.artwork-text {
  font-size: 1.5em;
  line-height: 1.9;
  color: white;
  opacity: .8;
}
h1 {
  font-weight: 100;
  font-size: 2em;
  line-height: 2.2;
  margin-bottom: -.35em;
  padding-top: 13%;
  letter-spacing: .3em;
  color: rgba(55, 58, 63, 1.00);
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
}
h2 {
  padding-top: 0.5em;
  border-bottom: solid 3px #cce4ff;
  position: relative;
  font-size: 1.5em;
}
h2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}
h3 {
  margin: 45px 0 0;
  padding: 0 0 4px;
  border-bottom: 4px solid #d2e3de;
  line-height: 1.0;
  font-weight: normal;
  font-size: 1.5em;
}
h4 {
  padding-bottom: 0em;
  font-weight: normal;
  font-size: 1.1em;
  text-decoration: underline
}
td {
  vertical-align: top;
}
.artwork-picbox {
  background-image: linear-gradient(to bottom right, rgba(255, 254, 203, 1.00) 50%, rgba(179, 254, 237, 1.00) 100%);
}
.artwork-picture {
  margin: 5em 0em 0em 0em;
}
.artwork-txtbox {
  background-color: rgba(38, 34, 62, 1.00);
}
.footer-box {
  background-color: rgba(54, 76, 151, 1.00);
}
.footer-box p {
  padding-top: 1em;
  color: white;
  text-align: center;
}
.topics-box {
  background-color: rgba(247, 248, 252, 1.00);
}
.subpage-box {
  background-image: linear-gradient(to bottom right, rgba(255, 254, 203, 1.00) 50%, rgba(179, 254, 237, 1.00) 100%);
}
.subpage-para {
  font-size: 1.2em;
}
.reg-table {
  margin-bottom: 1em;
}
.eve-table {
  margin-bottom: 1em;
}
.mintd6 {
  min-width: 6em;
}
.mintd3 {
  min-width: 3em;
}
.eve-table tr td a {
  color: rgba(55, 58, 63, 1.00);
  text-decoration: underline;
}
.message {
  padding-bottom: 0.5em;
}
.signature {
  text-align: right;
  padding-bottom: 1em;
}
.dt-noweight {
  font-weight: normal;
}
.QRcode {
  width: 150px;
}